.DS_Store
.idea/
.vscode/
*.pyc
__pycache__/
~$
BasicLab2/example/wolfram_beta.py
BasicLab2/example/wolfram_beta_OO.py
BasicLab2/example/wolfram_beta_OO_basic.py
BasicLab2/example/wolfram_beta_OO_zero.py
venv/
*.pptx
main.py
terms_checker.py
BasicLab2/skeleton/lab2-1/text/
BasicLab2/skeleton/lab2-2/text/
run.php
score.txt
test.py
log.txt
output_sample.txt
answer.txt
input.txt
output.txt
